<p class="main-title">{{config.pageTitle}}</p>

<ul>
  <ng-container
    *ngTemplateOutlet="Recursion; context:{ children: config.projectsTree}"></ng-container>
</ul>



<ng-template #Recursion let-children="children">
  <ng-container *ngFor="let child of children" >
    <li mpDrawLine [ngStyle]="getPositionAccordingToSCreen(child)">
      <p [routerLink]="['./' + child.routerLink]">{{ child.title }}</p>
      <ul *ngIf="child.children && child.children.length > 0">
        <ng-container
          *ngTemplateOutlet="Recursion; context:{ children: child.children }"></ng-container>
      </ul>
    </li>
  </ng-container>
</ng-template>
