@import '../../../../../styles/typography';
@import '../../../../../styles/media';
@import '../../../../../styles/variables.scss';

:host {
  height: 100vh;
  width: 100vw;
  min-height: 200px;
  min-width: 100px;
  display: block;
  svg {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  line,
  rect.background-rect {
    stroke: $black;
    stroke-width: 2px;
  }
  p,
  text {
    @include title_bold;
    white-space: nowrap;
    fill: $black;
  }
  rect {
    fill: $white;
  }

}
