@import '../../styles/media.scss';

:host {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

:host,
h3 {
  display: block;
  width: 100vw;
}

.img-container,
nav,
h3 {
  position: absolute;
}

.img-container {
  width: 1266px;
  height: 844px;
  right: -20%;

  @include media_tablet {
    width: 1621px;
    height: 1080px;
  }

  @include media_desktop {
    width: 1537px;
    height: 1024px;
    left: 0;
  }
}

nav {
  text-transform: uppercase;
  text-align: right;
  right: 8%;
  top: 8%;

  @include media_desktop {
    right: 5%;
  }
}

h3 {
  bottom: 8%;
  text-align: center;
}
