@import '../../styles/media.scss';
@import '../../styles/typography.scss';

:host {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100vw;
  height: 100vh;

  nav,
  .footer {
    position: absolute;
  }

  .img-container {
    img {
      object-fit: cover;
      object-position: 90% 100%;
    }
  }

  nav {
    text-transform: uppercase;
    text-align: right;
    right: 8%;
    top: 8%;

    @include media_desktop {
      right: 5%;
    }
  }

  .footer {
    bottom: 8%;
    display: block;
    width: 100vw;
    text-align: center;
  }

  &.full-screen {
    nav {
      text-align: center;
      right: 0;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        @include navbar_big;
        rotate: 90deg;
        height: 80vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media_tablet {
          rotate: initial;
          width: unset;
          height: unset;
        }

        @include media_desktop {
          rotate: initial;
          line-height: 20vh;
        }
      }
    }
  }
}
