@if (cardConfig.topImg){
<div class="top-img-container">
  <img [ngSrc]="cardConfig.topImg.url" [width]="cardConfig.topImg.originalWidth"
    priority [height]="cardConfig.topImg.originalHeight"
    [alt]="cardConfig.topImg.alt" (click)="onImageClick()">
</div>
}

@if (cardConfig.leftImg){
<div class="left-img-container">
  <img [ngSrc]="cardConfig.leftImg.url"
    [width]="cardConfig.leftImg.originalWidth" loading="eager"
    [height]="cardConfig.leftImg.originalHeight" [alt]="cardConfig.leftImg.alt"
    (click)="onImageClick()">
</div>
}

@if (cardConfig.title) {
<div class="title">
  <h3>{{cardConfig.title}}</h3>
</div>
}

<div class="paragraph">
  <p>
    {{cardConfig.content}}
  </p>
</div>

@if (cardConfig.cardSlideshow){
<div class="card-slideshow-container">
  @for (image of cardConfig.cardSlideshow.images; track image.title) {
  <img [ngSrc]="image.url" [width]="image.originalWidth" loading="eager"
    [height]="image.originalHeight" [alt]="image.alt" (click)="onImageClick()">
  }
</div>

}
