@import '../../../../styles/media.scss';
@import '../../../../styles/typography.scss';

:host {
  nav {
    text-transform: uppercase;
    text-align: right;
  }

  &.full-screen {
    nav {
      ul {
        @include navbar_big;
        height: 80vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include media_tablet {
          width: unset;
          height: unset;
        }

        @include media_desktop {
          line-height: 20vh;
        }
      }
    }
  }

  &.full-height {
    nav {
      padding: 0 1.5em;
    }

    a,
    h1 {
      @include title_super;
      color: $black;
    }

    h1 {
      padding: 0.5em 0.2em;
    }

    li:nth-child(even) {
      text-align: right;
    }

    @include media_desktop {
      h1 {
        height: 20vh;
      }

      li {
        width: 100%;
      }
    }
  }
}
