@import '../../../../styles/typography';
@import '../../../../styles/media.scss';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.left-icon {
    flex-direction: row;

    .left-img-container {
      width: 3em;
      margin-right: 2em;

      img {
        width: 100%;
        height: auto;
      }
    }

    .paragraph {
      @include paragraphs-xl;
    }
  }

  &.slideshow {
    height: 100vh;
    .title {
      margin-top: 2em;
    }

    .paragraph {
      font-size: 12px;
      width: 80vw;
    }
  }

  .card-slideshow-container {
    margin-top: 2em;
    width: 80vw;
    height: 30vh;
    overflow-y: scroll;

    img {
      width: 100%;
      height: auto;
      margin: 0.5em 0;
    }
  }

  &:not(.left-icon) {
    @include media_desktop {
      display: grid;
      gap: 1em 5em;
      grid-template-columns: auto auto;
      grid-template-rows: 1fr 1fr;

      .top-img-container {
        grid-row: 1 / -1;
        grid-column: 1;
      }

      .title,
      .paragraph {
        display: flex;
        grid-column: 2;
        height: 100%;
      }

      .title {
        grid-row: 1;
        align-items: flex-end;
      }

      .paragraph {
        grid-row: 2;
        align-items: flex-start;
        max-height: 7em;
        overflow-y: scroll;
      }

      &.slideshow {
        .card-slideshow-container {
          grid-column: 2;
          grid-row: span 2;
          width: 40vw;
          height: 80vh;
          margin: 0;
        }

        .title {
          grid-column: 1;
          margin: 0;
          font-size: 56px;
          margin-bottom: 2em;
        }
        .paragraph {
          margin: 0;
          font-size: unset;
          grid-row: 2;
          grid-column: 1;
          width: 40vw;
        }
      }
    }
  }

  .top-img-container {
    width: 50%;

    @include media_desktop {
      width: fit-content;
    }

    img {
      width: 100%;
      max-width: 400px;
      height: auto;
    }
  }

  .title {
    padding: 1em 0;
    h3 {
      @include title_druk;
    }
  }
}
