@if (cardConfig.topImg){
<div class="top-img-container">
  <img [ngSrc]="cardConfig.topImg.url" [width]="cardConfig.topImg.originalWidth"
    [height]="cardConfig.topImg.originalHeight" [alt]="cardConfig.topImg.alt">
</div>
}

@if (cardConfig.title) {
<div class="title">
  <h3>{{cardConfig.title}}</h3>
</div>
}

<div class="paragraph">
  <p>
    {{cardConfig.content}}
  </p>
</div>

@if (cardConfig.cardSlideshow){
<div class="card-slideshow-container">
  @for (image of cardConfig.cardSlideshow.images; track image.title) {
  <img [ngSrc]="image.url" [width]="image.originalWidth"
    [height]="image.originalHeight" [alt]="image.alt">
  }
</div>

}
