<nav>
    <li>
        Gerry che corre
    </li>
    <li>
        Gerry che salta
    </li>
    <li>
        Gerry che martella
    </li>
    <li>
        razzo a gas live
    </li>
    <li>
        martello martellante
    </li>
</nav>

<div>
    <h3>
        Un titolo che parla del video gerry che corre
    </h3>
    <p>Lorem ipsum dolor sit amet consectetur. Lorem risus dolor at a habitant
        bibendum lobortis vitae. Cursus donec senectus rutrum morbi urna euismod
        nec ut netus. Nec consequat porta neque consectetur amet. Lacinia quam
        nibh aliquam rhoncus sed ut. Pretium pellentesque non sit eget orci at
        ante. Amet faucibus in lobortis quis consectetur vitae pretium fringilla
        et. Rhoncus diam id nunc id faucibus purus id.</p>
</div>
<img src="assets/gerrychecorre.png" alt="">
