@if (!isInProd) {
<span class="media-query-util">
  <span class="media_mobile_xs"></span>
  <span class="media_mobile"></span>
  <span class="media_tablet"></span>
  <span class="media_desktop"></span>
</span>
}

@if (!!config.navbar1) {
<mp-component-outlet-wrapper
  [componentId]="config.navbar1.componentId"></mp-component-outlet-wrapper>

}

@if (!!config.navbar2) {
<mp-component-outlet-wrapper
  [componentId]="config.navbar2.componentId"></mp-component-outlet-wrapper>

}

<router-outlet></router-outlet>
