@if (navbarConfig.backgroundImage) {
<div class="img-container">
  <img [ngSrc]="navbarConfig.backgroundImage" fill>
</div>
}


@if (navbarConfig.title) {
<h1>{{navbarConfig.title}}</h1>
}

<nav class="text-primary">
  <ul>
    @for (anchor of navbarConfig.anchors; track anchor.label) {
    <li>
      <a [routerLink]="anchor.routerLink || null">
        {{anchor.label}}
      </a>
    </li>
    }
  </ul>
</nav>

@if (navbarConfig.htmlFooter) {
<div class="footer" [innerHtml]="navbarConfig.htmlFooter"></div>
}

<div class="text-primary coming-soon">
  coming <span></span> soon
</div>
